Move to the `src` folder first.

In [1]:
cd ../src

/home/matteo/PycharmProjects/HealthcareBlockchain/src

In [2]:
from patient import Patient
from event import Event
from blockchain import add_event

A new patient, Ann, is "born". A new blockchain related to her is created.

In [3]:
Ann = Patient("CMVANN67T06M088Q") # The argument is her codice fiscale

Ann has now a personal blockchain. We can show her Genesis block here:

In [4]:
Ann.get_block(0)

                                                   Block summary
Index                                                          0
Name                                            CMVANN67T06M088Q
Timestamp                             2019-12-07 14:55:44.702337
Kind                                                        None
Data                                                        None
Previous hash  0000000000000000000000000000000000000000000000...
Hash           e6c78816e2c4c9123c4ec4325af25444472d2fa2cdf717...

One day, Ann contracts celiac disease. Celiac disease is a new disease, so we first have to create its blockchain, before being able to assign this disease to Ann.

In [5]:
celiac = Event(event="disease", name="celiac")

Celiac disease has now its own blockchain that will be updated every time a new patient contracts celiac disease. We can see the genesis block of celiac disease as well:

In [6]:
celiac.get_block(0)

                                                   Block summary
Index                                                          0
Name                                                      celiac
Timestamp                             2019-12-07 14:55:44.936442
Patient                                                     None
Previous hash  0000000000000000000000000000000000000000000000...
Hash           e0a39b4addabd5a12055dda9af79126c9388e1f353f37e...

Now we can add celiac disease to the blockchain of Ann, and vice versa.

In [7]:
add_event(event=celiac, patient=Ann)

We can now see that Ann's blockchain contains a new block, containing the information of her new disease. On the other hand, the blockchain of the celiac disease contains a new block, with the information of the patient that has contracted it (in this case Ann).

In [8]:
Ann.get_block(1)

                                                   Block summary
Index                                                          1
Name                                            CMVANN67T06M088Q
Timestamp                             2019-12-07 14:55:45.070183
Kind                                                     disease
Data                                                      celiac
Previous hash  e6c78816e2c4c9123c4ec4325af25444472d2fa2cdf717...
Hash           98b58e3c5f7c42f35de1f671bd19f9c8194cbdc1faa1ef...

In [9]:
celiac.get_block(1)

                                                   Block summary
Index                                                          1
Name                                                      celiac
Timestamp                             2019-12-07 14:55:45.070135
Patient                                         CMVANN67T06M088Q
Previous hash  e0a39b4addabd5a12055dda9af79126c9388e1f353f37e...
Hash           4a2401761a92ca8e811d41dd83e72e369c6c3a37d9bda4...

We can see how many people have celiac disease by simply running the following line of code:

In [10]:
celiac.get_chain_size()

1

In [11]:
Ann.get_chain()

,Name,Timestamp,Kind,Data,Previous hash,Hash
Index,,,,,,
0,CMVANN67T06M088Q,2019-12-07 14:55:44.702337,None,None,0000000000000000000000000000000000000000000000...,e6c78816e2c4c9123c4ec4325af25444472d2fa2cdf717...
1,CMVANN67T06M088Q,2019-12-07 14:55:45.070183,disease,celiac,e6c78816e2c4c9123c4ec4325af25444472d2fa2cdf717...,98b58e3c5f7c42f35de1f671bd19f9c8194cbdc1faa1ef...

In [18]:
Ann.get_chain()

,Name,Timestamp,Kind,Data,Previous hash,Hash
Index,,,,,,
0,CMVANN67T06M088Q,2019-12-07 14:55:44.702337,None,None,0000000000000000000000000000000000000000000000...,e6c78816e2c4c9123c4ec4325af25444472d2fa2cdf717...
1,CMVANN67T06M088Q,2019-12-07 14:55:45.070183,disease,celiac,e6c78816e2c4c9123c4ec4325af25444472d2fa2cdf717...,98b58e3c5f7c42f35de1f671bd19f9c8194cbdc1faa1ef...

In [22]:
Ann.blocks[1].previous_hash = "ciao"

In [ ]:
celiac.get_chain()

In [24]:
import pandas as pd
chain = pd.DataFrame()
chain.append(Ann.blocks[1].summary().T)

,Name,Timestamp,Patient,Previous hash,Hash
Index,,,,,
0,celiac,2019-12-07 14:55:44.936442,None,0000000000000000000000000000000000000000000000...,e0a39b4addabd5a12055dda9af79126c9388e1f353f37e...
1,celiac,2019-12-07 14:55:45.070135,CMVANN67T06M088Q,e0a39b4addabd5a12055dda9af79126c9388e1f353f37e...,4a2401761a92ca8e811d41dd83e72e369c6c3a37d9bda4...

In [14]:
import pandas as pd
chain = pd.DataFrame()
chain.append(Ann.blocks[1].summary().T)

,Index,Name,Timestamp,Kind,Data,Previous hash,Hash
Block summary,1,CMVANN67T06M088Q,2019-12-07 14:55:45.070183,disease,celiac,e6c78816e2c4c9123c4ec4325af25444472d2fa2cdf717...,98b58e3c5f7c42f35de1f671bd19f9c8194cbdc1faa1ef...