Move to the `src` folder first.

In [1]:
cd ../src

/home/matteo/PycharmProjects/HealthcareBlockchain/src

In [2]:
from patient import Patient
from event import Event
from blockchain import add_event

A new patient, Ann, is "born". A new blockchain related to her is created.

In [3]:
Ann = Patient("CMVANN67T06M088Q") # The argument is her codice fiscale

Ann has now a personal blockchain. We can show her Genesis block here:

In [4]:
Ann.blocks[0].summary()

                                                   Block summary
Index                                                          0
Name                                            CMVANN67T06M088Q
Timestamp                             2019-12-02 17:24:38.391712
Kind                                                        None
Data                                                        None
Previous hash  0000000000000000000000000000000000000000000000...
Hash           0b0ea5f839947909803d931ad64fee8303a8581f339e5b...

One day, Ann contracts celiac disease. Celiac disease is a new disease, so we first have to create its blockchain, before being able to assign this disease to Ann.

In [5]:
celiac = Event(event="disease", name="celiac")

Celiac disease has now its own blockchain that will be updated every time a new patient contracts celiac disease. We can see the genesis block of celiac disease as well:

In [6]:
celiac.blocks[0].summary()

                                                   Block summary
Index                                                          0
Name                                                      celiac
Timestamp                             2019-12-02 17:27:55.016006
Patient                                                     None
Previous hash  0000000000000000000000000000000000000000000000...
Hash           957fc603ce1f08890f2f492f6b3cb3847da1fbd8f0fef3...

Now we can add celiac disease to the blockchain of Ann, and vice versa.

In [7]:
add_event(event=celiac, patient=Ann)

We can now see that Ann's blockchain contains a new block, containing the information of her new disease. On the other hand, the blockchain of the celiac disease contains a new block, with the information of the patient that has contracted it (in this case Ann).

In [8]:
Ann.blocks[1].summary()

                                                   Block summary
Index                                                          1
Name                                            CMVANN67T06M088Q
Timestamp                             2019-12-02 17:29:33.799935
Kind                                                     disease
Data                                                      celiac
Previous hash  0b0ea5f839947909803d931ad64fee8303a8581f339e5b...
Hash           296dc2f54e10a9cddc976acdf88cfd2b69a718b8e3357e...

In [9]:
celiac.blocks[1].summary()

                                                   Block summary
Index                                                          1
Name                                                      celiac
Timestamp                             2019-12-02 17:29:33.799899
Patient                                         CMVANN67T06M088Q
Previous hash  957fc603ce1f08890f2f492f6b3cb3847da1fbd8f0fef3...
Hash           2928ba254535bf5f703875e3e21352b4d01157c39dd790...

We can see how many people have celiac disease by simply running the following line of code:

In [10]:
celiac.get_chain_size()

1